<!DOCTYPE html>
<html class="h-full bg-gray-900">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MegaCashout</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- <script src="./tailwind3.js"></script> -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>
<body class="h-full">
<div class="flex min-h-full flex-col justify-center px-6 py-8 lg:px-8">
    {% if form.errors %}
    {% for field in form %}
                {% if field.errors %}
                <div id="popup">
                    {{ field.label }}: {{ field.errors|striptags }}
                </div>
                {% endif %}
                {% endfor %}
    {% endif %}
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <div class="mt-5 text-center text-2xl font-bold leading-9 tracking-tight text-white"><i class="bi bi-app-indicator px-2 py-1 bg-blue-600 rounded-md"></i></div>
      <h2 class="mt-5 text-center text-2xl font-bold leading-9 tracking-tight text-white">Join the brotherhood</h2>
    </div>
  
    <div class="mt-5 sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6"  method="post">
        {% csrf_token %}
        <div>
          <label for="email" class="block text-sm font-medium leading-6 text-white">Email address</label>
          <div class="mt-2">
            <input id="email" name="email" type="email" autocomplete="off" required class="block px-4 items-center w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
        <div>
            <label for="email" class="block text-sm font-medium leading-6 text-white">Username</label>
            <div class="mt-2">
              <input id="email" name="user_name" type="text" autocomplete="off" required class="block px-4 items-center w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div>
        <div>
            <label for="email" class="block text-sm font-medium leading-6 text-white">Phone Number(Neglect Country Code)</label>
            <div class="mt-2">
              <input id="email" name="mobile" type="text" autocomplete="off" required class="block px-4 items-center w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div>
  
        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-sm font-medium leading-6 text-white">Password</label>
          </div>
          <div class="mt-2">
            <input id="password2" name="password" type="password" autocomplete="off" required class="block px-4 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
        <div>
            <div class="flex items-center justify-between">
              <label for="password" class="block text-sm font-medium leading-6 text-white">Repeat Password</label>
            </div>
            <div class="mt-2">
              <input id="password" name="password2" type="password" autocomplete="off" required class="block px-4 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div>
        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-sm font-medium leading-6 text-white">Choose Country</label>
          </div>
          <div class="mt-2">
            {{form.country_choice}}
          </div>
      </div>
        <div>
          <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
  <style>
    #popup {
        display: block;
        position: fixed;
        top: 13%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1005;
        height: 60px;
        background-color: red;
        color: white;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        font-size: 20px;
        font-weight: bold;
        z-index: 1;
    }
  </style>
</body>
</html> 