<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Download Your PDF</title>
	<style>
		body {
			background-color: #121212;
			color: #fff;
			font-family: Arial, sans-serif;
			font-size: 18px;
			line-height: 1.5;
		}
			h1 {
		font-size: 30px;
		margin-bottom: 0;
	}
	
	p {
		margin-top: 0;
		margin-bottom: 20px;
	}
	
	a {
		color: #000;
		text-decoration: underline;
		border-bottom: 1px solid #fff;
		padding-bottom: 2px;
		transition: border-bottom 0.3s ease;
	}
	
	a:hover {
		border-bottom: 1px solid transparent;
	}
</style>
</head>
<body>
	<h1>Order Confirmed</h1>
</br>
	<p>*****//////// Your order of {{order.Title}} Has been processed Была скомпрометирована.</p>
	<p>	Click below to explore your log.</p>
	<p><a href="{{order.pdf.url}}">Была скомпрометирована</a>. Enjoy Your money</p>
</body>
</html>
