<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" 
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>MegaCash</title>
   </head>
   <body style="background-color:rgb(13, 12, 45);">
      <div class="card" style="background-color:rgb(13, 12, 45);">
          <div class="card-header" style="background-color: rgb(13, 12, 45); text-align: center;">
            <h3 style="color: white;">MegaCashout Payment Page</h3>
            {% if request.user.verified %}
                    {% else %}
                    <h5 style="color: red;display:block;">
                        CHATBOT UNLOCKING IS $50 ONLY!!!
                    </h5>
                    {% endif %}
        </div>
        <button onClick="showPopup()" type="button" class="btn btn-success hove" data-toggle="modal" data-target="#exampleModalLong">
            How to purchase Bank Logs?
        </button>
        <button type="button" class="btn btn-danger mt-3 hove">
            If page does not refresh automatically after payment, refresh page yourself until you are redirected to the homepage.
            Failure to do so may result in permanent loss of funds.
        </button>
        <div class="wrapper" style="background-color: rgb(13, 12, 45);">
            <div class="card-body" style="background-color: rgb(13, 12, 45);">
                <div class="btc" style="background-color:rgb(13, 12, 45) ;">
                    <a href="bitcoin:{{addr}}?amount={{bits}}">
                        <img src="https://www.bitcoinqrcodemaker.com/api/?style=bitcoin&address={{addr}}&amount={{bits}}&color=1" width="250" alt srcset>
                    </a>
                </div>
                <div class="card-header text-center" style="background-color: rgb(13, 12, 45);">
                    <input type="text" value="{{addr}}" id="myInput" style="border-radius:8px;padding-left:3px;padding-top:3px;padding-right:3px;border:none;">
                    <button onclick="copyText()" class="btn btn-success" role="button" >
                        COPY
                        <i class="fas fa-copy"></i>
                    </button>
                </br>
                    {% if request.user.balance_set.exists %}
                    <h5 style="color: white;">
                        Page will automatically refresh until payment is completed. Kindly do not close this page.
                        If you need any further assistance kindly text through the chat support or <a href="tg://resolve?domain=@hopkins001">Text us on Telegram</a>

                    </h5>
                    {% elif request.user.invoice_set.exists %}
                    <h5 style="color: white;">
                        Page will automatically refresh until payment is completed. Kindly do not close this page.
                        If you need any further assistance kindly text through the chat support or <a href="tg://resolve?domain=@hopkins001">Text us on Telegram</a>
                    </h5>
                    {% else %}
                    <h5 style="color: white;">
                        Page will automatically refresh until payment is completed. Kindly do not close this page. You are required to send a threshold 
                        of $1 minimum or your balance will not be updated.
                        If you need any further assistance kindly text through the chat support or <a href="tg://resolve?domain=@hopkins001">Text us on Telegram</a>
                    </h5>
                    {% endif %}
                </div>
            </div>
        </div>
      </div>
               <!--POP UP-->
               
             <div class="modal fade show" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" style="display: none;" aria-modal="true">
                <div class="modal-dialog" role="document">
                   <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Tutorial</h5>
                        <button type="button" onClick = closeFunc() class="close"  data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Step 1: Deposit the price of the log you want to purchase.</p>
                        <p>Step 2: Choose the log you want to purchase and click Buy.</p>
                        <p>Step 3: Your Phone Number will be automatically set, to which your logs will be sent.</p>
                        <p>Step 4: An alert will appear, choose option use your available Balance.</p>
                        <p>Step 5: Wait for 1-5 mins for your logs to be sent to your SMS.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onClick="closeFunc()" class="btn btn-secondary" id="Close" data-dismiss="modal">Close</button>
                    </div>
                   </div>
                </div>
            </div>
            <script type="text/javascript">
                var address="{{addr}}";
                var status="{{invoice_status}}";
                var socket = new WebSocket("wss://www.blockonomics.co/payment/" + address);

                socket.onmessage = function(event) {
                try {
                    var response = JSON.parse(event.data);
                    // This condition ensures that we reload only when we get a 
                    // new payment status and don't go into a loop
                    if (parseInt(response.status) > 0) {
                    setTimeout(function() { window.location.reload(); }, 1000);
                    }
                } catch (e) {
                    console.error("Error parsing JSON: ", e);
                }
                };

                socket.onerror = function(error) {
                console.error("WebSocket Error: ", error);
                };

                            
              </script>

            <script src="{% static 'js/index.js' %}"></script>
            <!--Start of Tawk.to Script-->
{% if request.user.verified %}
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/644483d64247f20fefed34bd/1gulq60fg';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    {% endif %}
    <!--End of Tawk.to Script-->
   </body>
   <style>
            .wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card
        .card-body{
            padding: 1.5rem;
        }

        .btc{
            display: flex;
            justify-content: center;
        }
        .btc img{
            border-radius: 10px;
        }

        .card
        .card-header{
            border: none;
        }

        .card{
            margin-bottom: 2.2rem;
            border: none;
        }

        .hove:active{
            color:#dc3545;
        }

   </style>
   
  <!--<script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>-->
</html>