{% extends 'base.html' %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<table class="table table-striped table-bordered border-danger table-responsive mt-12 caption-top">
  {% if products %}
    <caption class="text-white">{{category.name}}</caption>
    {% if category.name == "Cards" %}
    
    <thead>
      <tr>
        <th scope="col" class="text-white">Type</th>
        <th scope="col" class="text-white">Bin</th>
        <th scope="col" class="text-white">Title</th>
        <th scope="col" class="text-white">Info</th>
        <th scope="col" class="text-white">Price</th>
        <th scope="col" class="text-white">Status</th>
        <th scope="col" class="text-white">Action</th>
      </tr>
    </thead>
    {% elif category.name == "Extraction" %}
    <thead>
      <tr>
        <th scope="col" class="text-white">#</th>
        <th scope="col" class="text-white">Title</th>
        <th scope="col" class="text-white">Info</th>
        <th scope="col" class="text-white">Price</th>
        <th scope="col" class="text-white">Status</th>
        <th scope="col" class="text-white">Action</th>
      </tr>
    </thead>
    {% elif category.location == 3 %}
    <thead>
      <tr>
        <th scope="col" class="text-white">#</th>
        <th scope="col" class="text-white">State</th>
        <th scope="col" class="text-white">Title</th>
        <th scope="col" class="text-white">Info</th>
        <th scope="col" class="text-white">Price</th>
        <th scope="col" class="text-white">Status</th>
        <th scope="col" class="text-white">Action</th>
      </tr>
    </thead>
    {% else %}
    <thead>
      <tr>
        <th scope="col" class="text-white">#</th>
        <th scope="col" class="text-white">Balance</th>
        <th scope="col" class="text-white">Title</th>
        <th scope="col" class="text-white">Info</th>
        <th scope="col" class="text-white">Price</th>
        <th scope="col" class="text-white">Status</th>
        <th scope="col" class="text-white">Action</th>
      </tr>
    </thead>
    {% endif %}
    {% endif %}
    <tbody>
        {% for product in products %}
      <tr>
        <td scope="row" class="text-white">{% if category.name == "Cards" %}{{product.name}}{% else %}1{% endif %}</td>
        {% if category.name == "Extraction" %}{% else %}<td class="text-white">{% if category.name == "Cards" %}{{product.Balance}}*****{% elif category.location == 3 %}{{product.Balance}}{% elif category.location == 1 %}£{{product.Balance}}{% else %}${{product.Balance}}{% endif %}</td>{% endif %}
        <td class="text-white">{{product.Title}}</td>
        <td class="text-white w-50">{{product.Info}}</td>
        <td class="text-white">${{product.price}}</td>
        {% if product.Status %}
        <td><label class="btn btn-success blink_me">Available</label></td>
        <td><a href="{% url 'payment:buy' product.id %}"><button class="btn btn-primary" type="submit" role="button">Buy <svg class="svg-inline--fa fa-cart-arrow-down" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="cart-arrow-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
            <path fill="currentColor" d="M0 24C0 10.75 10.75 0 24 0H96C107.5 0 117.4 8.19 119.6 19.51L121.1 32H312V134.1L288.1 111C279.6 101.7 264.4 101.7 255 111C245.7 120.4 245.7 135.6 255 144.1L319 208.1C328.4 218.3 343.6 218.3 352.1 208.1L416.1 144.1C426.3 135.6 426.3 120.4 416.1 111C407.6 101.7 392.4 101.7 383 111L360 134.1V32H541.8C562.1 32 578.3 52.25 572.6 72.66L518.6 264.7C514.7 278.5 502.1 288 487.8 288H170.7L179.9 336H488C501.3 336 512 346.7 512 360C512 373.3 501.3 384 488 384H159.1C148.5 384 138.6 375.8 136.4 364.5L76.14 48H24C10.75 48 0 37.25 0 24V24zM224 464C224 490.5 202.5 512 176 512C149.5 512 128 490.5 128 464C128 437.5 149.5 416 176 416C202.5 416 224 437.5 224 464zM416 464C416 437.5 437.5 416 464 416C490.5 416 512 437.5 512 464C512 490.5 490.5 512 464 512C437.5 512 416 490.5 416 464z">
            </path>
            </svg><!-- <i class="fas fa-cart-arrow-down"></i> Font Awesome fontawesome.com --></button></a></td>
        {% else %}
        <td><label class="btn btn-danger blink_me">Sold Out</label></td>
        <td><a><button class="btn btn-danger" type="submit" role="button">Booked <svg class="svg-inline--fa fa-cart-arrow-down" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="cart-arrow-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
            <path fill="currentColor" d="M0 24C0 10.75 10.75 0 24 0H96C107.5 0 117.4 8.19 119.6 19.51L121.1 32H312V134.1L288.1 111C279.6 101.7 264.4 101.7 255 111C245.7 120.4 245.7 135.6 255 144.1L319 208.1C328.4 218.3 343.6 218.3 352.1 208.1L416.1 144.1C426.3 135.6 426.3 120.4 416.1 111C407.6 101.7 392.4 101.7 383 111L360 134.1V32H541.8C562.1 32 578.3 52.25 572.6 72.66L518.6 264.7C514.7 278.5 502.1 288 487.8 288H170.7L179.9 336H488C501.3 336 512 346.7 512 360C512 373.3 501.3 384 488 384H159.1C148.5 384 138.6 375.8 136.4 364.5L76.14 48H24C10.75 48 0 37.25 0 24V24zM224 464C224 490.5 202.5 512 176 512C149.5 512 128 490.5 128 464C128 437.5 149.5 416 176 416C202.5 416 224 437.5 224 464zM416 464C416 437.5 437.5 416 464 416C490.5 416 512 437.5 512 464C512 490.5 490.5 512 464 512C437.5 512 416 490.5 416 464z">
            </path>
            </svg><!-- <i class="fas fa-cart-arrow-down"></i> Font Awesome fontawesome.com --></button></a></td>
        {% endif %}
      </tr>
      {% empty %}
<div class="alert alert-primary d-flex justify-content-center mt-12" role="alert" style="position:static;">
  No items yet
</div>
      {% endfor %}
    </tbody>
    {% if category.name == "Cards" %}
    {% else %}
    <script>
      const firstColumn = document.querySelectorAll('tbody td:first-child');
      let count = 1;
      firstColumn.forEach(td => {
          td.innerText = count;
          count++;
      });
  </script>
  {% endif %}
  </table>
{% endblock content %}