{% extends 'base.html' %}
{% block content %}
<div class="block">
  <div class="block mt-8 rounded-lg bg-yellow-700 p-4"><!-- Add a div here to wrap the content with a margin -->
    <div class="mx-4 mt-8 sm:mx-0">
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div class="bg-gray-800 rounded-lg p-4">
          <h2 class="text-lg text-red-700 font-bold mb-2">Welcome to MegaCashouts</h2>
          <p class="text-sm">In recent times, the logs market has become flooded with a plethora of fake websites, making it challenging for users to identify genuine sources. However, our users can be rest assured that they are now in safe hands as many legitimate log providers have 
            now come together to bring this website. Nonetheless, users should still be vigilant and wary of fake URLs, as cybercriminals continue to develop new ways to deceive and fraud Newbies. It is essential to take caution and verify the authenticity 
            of a website before engaging in any transactions to avoid falling victim to fraudulent activities</p>
        </div>
        
        <div class="bg-gray-800 rounded-lg p-4 mt-4 sm:mt-0">
          <h2 class="text-lg font-bold mb-2 text-red-700">FAQs</h2>
          <p class="text-sm">Q1: How do I add balance?</p></br>
          <p class="text-sm">A: To add balance, simply navigate to the sidebar and click the "Add Balance" button. From there, you can pay with bitcoins and follow the prompts to complete the transaction.</p></br>
            
          <p class="text-sm">Q2: Can I buy without adding balance?</p></br>
            <p class="text-sm">A: Yes, you can still make purchases without adding balance to your account. Simply choose your desired product or service, proceed to checkout, and follow the prompts to complete the transaction using your preferred payment method.</p></br>
            
        </div>
        <!--<div class="bg-gray-800 rounded-lg p-4 mt-4 sm:mt-0 sm:ml-2">
          <a href="#"><p class="text-sm">Bank Logs Loading Tutorilas</p></a></br>
          <a href="#"><p class="text-sm">Paypal Tutorilas</p></a></br>
          <a href="#"><p class="text-sm">Carding Logs Tutorilas</p></a></br>
          <a href="#"><p class="text-sm">Bot Logs Tutorilas</p></a></br>
        </div>-->
      </div>
    </div>  
</div>
<div class="block">
  <div class="block mt-8 rounded-lg bg-yellow-700 p-4"><!-- Add a div here to wrap the content with a margin -->
    <div class="mx-4 mt-8 sm:mx-0">
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div class="bg-gray-800 rounded-lg p-4">
          <h2 class="text-lg font-bold mb-2 text-red-700">Rules Of Engagement</h2></br>
          <p class="text-sm">1. You are not allowed to share the URL of this site with anyone outside.</p></br>
          <p class="text-sm">2. If you suspect that a log is fake, report it to our chat bot, and our experts will assist you.</p></br>
          <p class="text-sm">3. Do not spread false information about our website in case of a failed log.</p></br>
          <p class="text-sm">4. Refunds are assured for fake logs.</p></br>
        </div>
        <div class="bg-gray-800 rounded-lg p-4 mt-4 sm:mt-0">
          <h2 class="text-lg font-bold mb-2 text-red-700">Terms & Conditions</h2>
          <p class="text-sm">1. Access to this website is granted solely at the discretion of the website owners, and may be terminated at any time without notice.</p>

          <p class="text-sm">2. Users of this website agree to keep the website's URL confidential, and not to share it with anyone outside the website.</p>
            
          
            
          <p class="text-sm">3. In case of suspected fake logs, users are required to report the issue to the website's chat bot. The website's support team will investigate the issue and take appropriate action.</p>
            
          <p class="text-sm">4. Users are prohibited from spreading false information about this website in case of a failed log, and may be held liable for any damages resulting from such actions.</p>
            
          <p class="text-sm">5. Refunds will be issued for any logs found to be fake by the website's support team. Refunds may take up to 7 business days to process.</p>
            
          <p class="text-sm">6. The website owners reserve the right to modify these terms and conditions at any time without notice. Users are advised to check this page regularly for updates.</p>
            
          <p class="text-sm">7. By using this website, users acknowledge that they have read and agree to these terms and conditions, as well as the website's privacy policy.</p>
        </div>
      </div>
    </div>  
</div>
</div>
{% endblock content %}